{% extends("base.html.twig") %}

{% block body %}

    {% for message in app.flashes("info") %}
        <div class="notification">
            {{ message }}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-12 text-center">
            <h2>Commencez par donner un nom à votre liste</h2>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            {{ form_widget(form.name, {"attr": {"placeholder": "Nom de la liste"}}) }}

            <button type="submit" class="btn btn-primary">Ajouter des produits à ma liste</button>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}